.imageCard {
    cursor: pointer;
    overflow: hidden;
    border-radius: 6px;
}

.imageCard img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

.imageCard:hover img {
    transform: scale(1.05);
}
p {
    margin: 8px;
    font-size: 14px;
    border: 2px solid #1283df;
    background-color: aquamarine;
    color: #ff7300;
    text-align: center;
}