.modal {
    position: absolute;
    inset: 40px;
    border: 1px solid rgb(204, 204, 204);
    background: rgba(0, 0, 0, 0.829);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}
