.loadMoreBtn {
    display: block;
    margin: 30px auto;
    padding: 12px 22px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: #1e90ff;
    color: white;
}

.loadMoreBtn:hover {
    background-color: #9900ff;
    color: rgb(255, 217, 0);
}